<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>4. 특수 검색</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <!--    jquery -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!--    material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <!--    material components -->
    <link href="/node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="/node_modules/material-components-web/dist/material-components-web.min.js"></script>

    <script src="javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <script src="javascripts/header.js"></script>

    <style>
        .main_contents {
            margin: 16px;
        }

        .mdc-text-field {
            width: 200px;
            height: 50px;
            margin: 8px auto;
        }

        .result {
            margin-top: 8px;
            margin-bottom: 16px;
        }

        h1 {
            margin-top: 16px;
            margin-bottom: 8px;
        }
    </style>
    <script>
        $(document).ready(() => {
            tabBar.activateTab(4)

            $("#case1_button").click(() => {
                $.post(`/search/case/1`, (data) => {

                })
            })

            $("#case2_button").click(() => {
                let date = $("#case2_date").val()
                let count = $("#case2_count").val()
                console.log(count)
                if (date == "" || count == "") {
                    alert("조회를 위해 날짜와 개수를 입력하십시오.")
                } else {
                    $.post(`/search/case/2`, {date: date, count: count}, (data) => {

                    })
                }
            })

            $("#case3_button").click(() => {
                let count = $("#case3_count").val()
                console.log(count)
                if (count == "") {
                    alert("조회를 위해 횟수를 입력하십시오.")
                } else {
                    $.post(`/search/case/3`, {count: $("#case3_count").val()}, (data) => {

                    })
                }
            })
        })
    </script>
</head>
<body>
<header>
    <div class="mdc-elevation--z6" id="main_header">
        <div class="header_title">
            <h1>DB Assignment2</h1>
            <h3>201645825 이승윤</h3>
        </div>
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab" id="tab_home" role="tab" aria-selected="false" tabindex="0">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">home</span>
            <span class="mdc-tab__text-label">홈</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_input_manual" role="tab" aria-selected="false" tabindex="1">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">create</span>
            <span class="mdc-tab__text-label">데이터 입력</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_input_file" role="tab" aria-selected="false" tabindex="2">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">note_add</span>
            <span class="mdc-tab__text-label">파일 입력</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" id="tab_search_type" aria-selected="false" tabindex="3">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">search</span>
            <span class="mdc-tab__text-label">일반 검색</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_search_case" role="tab" aria-selected="false" tabindex="4">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">find_replace</span>
            <span class="mdc-tab__text-label">특수 검색</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="main_contents">
    <h1>남자보다 여자가 더 많이 산 상품의 이름</h1>
    <button class="mdc-button mdc-button--unelevated" id="case1_button">
        <span class="mdc-button__ripple"></span>
        조회
    </button>
    <div class="result" id="case1_result"></div>

    <h1>주어진 날 이전에 가장 많은 액수의 거래가 이루어진 K가지 상품</h1>
    <label class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label text_floating_labels_main_color">날짜 선택</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
        <input class="mdc-text-field__input" id="case2_date" maxlength="32" name="date" type="date" required>
    </label>
    <label class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label text_floating_labels_main_color">개수(K)</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
        <input class="mdc-text-field__input" id="case2_count" name="count" type="number" required>
    </label>
    <button class="mdc-button mdc-button--unelevated" id="case2_button">
        <span class="mdc-button__ripple"></span>
        조회
    </button>

    <div class="result" id="case2_result"></div>

    <h1>하나의 공급처에서 m번 이상의 제품을 산 고객의 이름</h1>
    <label class="mdc-text-field mdc-text-field--outlined">
                    <span class="mdc-notched-outline">
                        <span class="mdc-notched-outline__leading"></span>
                        <span class="mdc-notched-outline__notch">
                            <span class="mdc-floating-label text_floating_labels_main_color">횟수(M)</span>
                        </span>
                        <span class="mdc-notched-outline__trailing"></span>
                    </span>
        <input class="mdc-text-field__input" id="case3_count" name="count" type="number" required>
    </label>
    <button class="mdc-button mdc-button--unelevated" id="case3_button">
        <span class="mdc-button__ripple"></span>
        조회
    </button>

    <div class="result" id="case3_result"></div>
</div>
<footer></footer>
</body>
</html>