<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>2. 파일 입력</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--    jquery -->
    <script src="/node_modules/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <!--    material icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <!--    material components -->
    <link href="/node_modules/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
    <script src="/node_modules/material-components-web/dist/material-components-web.min.js"></script>

    <script src="/node_modules/dropzone/dist/min/dropzone.min.js"></script>
    <script src="javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/header.css'/>
    <script src="javascripts/header.js"></script>

    <style>
        form {
            min-height: 200px;
            background: white;
        }

        .dropzone {
            border: 2px solid rgba(0, 0, 0, 0.3);
            margin: 16px;
            box-sizing: border-box;
            padding: 54px;
            text-align: center;
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            font-size: xx-large;
        }
    </style>
    <script>
        Dropzone.options.csvDropzone = {
            paramName: "file",
            maxFiles: 1,
            acceptedFiles: ".csv,.txt",
            accept: function(file, done) {
                if (file.name == "data.csv") {
                    alert("OK")
                    done();
                } else {
                    done("Check your file.");
                }
            },
            complete: function () {
                //alert("업로드 완료")
            }
        }
        $(document).ready(() => {
            tabBar.activateTab(2)
        })
    </script>
</head>
<body>
<header>
    <div class="mdc-elevation--z6" id="main_header">
        <div class="header_title">
            <h1>DB Assignment2</h1>
            <h3>201645825 이승윤</h3>
        </div>
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab" id="tab_home" role="tab" aria-selected="false" tabindex="0">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">home</span>
            <span class="mdc-tab__text-label">홈</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_input_manual" role="tab" aria-selected="false" tabindex="1">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">create</span>
            <span class="mdc-tab__text-label">데이터 입력</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_input_file" role="tab" aria-selected="false" tabindex="2">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">note_add</span>
            <span class="mdc-tab__text-label">파일 입력</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" id="tab_search_type" aria-selected="false" tabindex="3">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">search</span>
            <span class="mdc-tab__text-label">일반 검색</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_search_case" role="tab" aria-selected="false" tabindex="4">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">find_replace</span>
            <span class="mdc-tab__text-label">특수 검색</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div>
    <form class="dropzone" action="/input/file" id="csvDropzone" method="post" enctype="text/plain">
        <input type="file" name="file" style="visibility: hidden"/>
    </form>
    <form action="/input/file" method="post">
        <input type="file" name="kFile">
        <button type="submit">전송</button>
    </form>
</div>
<footer></footer>
</body>
</html>