<!DOCTYPE html>
<html>
<head>
    <style>
        #main_footer {
            position: fixed;
            bottom: 0;
            padding-top: 16px;
        }
    </style>
</head>
<body>
    <footer id="main_footer">
        <p>Copyright 2020. 이승윤. all rights reserved.</p>
        <p>데이터베이스 Assignment2 - 201645825 이승윤</p>
    </footer>
</body>
</html>
