<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/header.css' />
</head>
<body>
<header>
    <div class="mdc-elevation--z6" id="main_header">
        <div class="header_title">
            <h1>DB Assignment2</h1>
            <h3>201645825 이승윤</h3>
        </div>
        <div class="mdc-tab-bar" role="tablist">
            <div class="mdc-tab-scroller">
                <div class="mdc-tab-scroller__scroll-area">
                    <div class="mdc-tab-scroller__scroll-content">
                        <button class="mdc-tab" id="tab_home" role="tab" aria-selected="false" tabindex="0">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">home</span>
            <span class="mdc-tab__text-label">홈</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_input_manual" role="tab" aria-selected="false" tabindex="1">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">create</span>
            <span class="mdc-tab__text-label">데이터 입력</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_input_file" role="tab" aria-selected="false" tabindex="2">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">note_add</span>
            <span class="mdc-tab__text-label">파일 입력</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" role="tab" id="tab_search_type" aria-selected="false" tabindex="3">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">search</span>
            <span class="mdc-tab__text-label">일반 검색</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                        <button class="mdc-tab" id="tab_search_case" role="tab" aria-selected="false" tabindex="4">
          <span class="mdc-tab__content">
            <span class="mdc-tab__icon material-icons" aria-hidden="true">find_replace</span>
            <span class="mdc-tab__text-label">특수 검색</span>
          </span>
                            <span class="mdc-tab-indicator">
            <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
          </span>
                            <span class="mdc-tab__ripple"></span>
                        </button>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>