body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
}

.one_line {
  display: inline-flex;
}

.fill_box {
  display: flex;
}

.fill_left {
  flex: 1 auto !important;
}

.text_floating_labels_main_color {
  color: #4e342e !important;
}

.mdc-button {
  --mdc-theme-primary: #4e342e;
  --mdc-theme-background: white;
}

.mdc-text-field {
  --mdc-theme-primary: #4e342e;
  --mdc-theme-background: white;
}