body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  margin: 0;
}

.one_line {
  display: inline-flex;
}

.fill_box {
  display: flex;
}

.fill_left {
  flex: 1 auto !important;
}